<div class="page-container">
  <mat-toolbar color="#fff">
    <div class="flex-container">
      <span class="toolbar-title">Controle de Bibliotecas</span>
      <button mat-fab color="accent" routerLink="/bibliotecas/new">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <table mat-table [dataSource]="bibliotecas" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="idBiblioteca">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.idBiblioteca}} </td>
      </ng-container>
      
      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>
    
      <!-- Position Column -->
      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef> endereco </th>
        <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator 
      [pageSizeOptions]="[2, 4, 8, 16, 32, 100]" 
      [pageSize]="pageSize" 
      [length]="totalRecords"
      (page)="paginar($event)">
    </mat-paginator>
</div>