<mat-drawer-container class="container">

    <mat-drawer #drawer  mode="side" closed>
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item routerLink="/clientes">Controle de Clientes</mat-list-item>
            <mat-list-item routerLink="/usuarios">Controle de Usuarios</mat-list-item>
            <mat-list-item routerLink="/bibliotecas">Controle de Bibliotecas</mat-list-item>
            <mat-list-item routerLink="/livros">Controle de Livros</mat-list-item>
            <mat-list-item routerLink="/autores">Controle de Autores</mat-list-item>
            <mat-list-item routerLink="/emprestimos">Controle de Emprestimos</mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>