<mat-drawer-container class="container">

    <mat-drawer #drawer  mode="side" closed>
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item routerLink="/admin/clientes">Controle de Clientes</mat-list-item>
            <mat-list-item routerLink="/admin/usuarios">Controle de Usuarios</mat-list-item>
            <mat-list-item routerLink="/admin/livros">Controle de Livros</mat-list-item>
            <mat-list-item routerLink="/admin/autores">Controle de Autores</mat-list-item>
            <mat-list-item routerLink="/admin/emprestimos">Controle de Emprestimos</mat-list-item>
            <mat-list-item routerLink="/admin/multas">Controle de Multas</mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>