<mat-toolbar color="primary">
        <button (click)="clickMenu()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
    
      
          <div class="login-container" (mouseenter)="showLoginOptions = true" (mouseleave)="showLoginOptions = false">
            <ng-container *ngIf="usuarioLogado; else loginButton">
              <mat-icon>person</mat-icon>
              <span class="profile-name">{{usuarioLogado.nome}}</span>
              <div *ngIf="showLoginOptions" class="login-options">
                <button mat-button (click)="alterarSenha()">
                  <mat-icon>key</mat-icon>
                  Alterar Senha
                </button>
                <button mat-button (click)="deslogar()">
                  <mat-icon>exit_to_app</mat-icon>
                  Sair
                </button>
              </div>
            </ng-container>
            <ng-template #loginButton>
              <button mat-button routerLink="/login">
                Entrar
              </button>
            </ng-template>
          </div>
</mat-toolbar>